<h1 class='mt-3 text-center'>Admin Dashboard</h1>

<div class='d-flex justify-content-center'>
  <div>
    <button class="btn btn-products" type="button">
    <%= link_to 'All Products', [:admin, :products] %>
    <h2><%= @product_count %></h2>
    </button>
  </div>
  <div>
    <button class="btn btn-products" type="button">
    All Categories
    <h2><%= @category_count %></h2>
    </button>
  </div>
</div>