<h1 class='mt-3 text-center'>About Us</h1>

<div class='text-center'>
  <p>Jungle is created for and made by people who have remote jobs.</p>
  <br>
  <p>Remote work sometimes hinders us to step outside and touch grass due to its nature... no pun intended</p>
  <p>Jungle removes that constraint by bringing the grass to you.</p>
  <p>Jungle is a marketplace for potted plants, mini trees, and shrubberies.</p>
  <p>They work to give you a break from technology, improving your mental health.</p>
  <p>So... what are you waiting for? Touch grass at the comfort of your own home <span><h3>TODAY!</h3></span></p>
</div>
